@model IEnumerable<Bakery.DB.Customer>

@{
    ViewBag.Title = "Index";

    var pagesCount = default(int);

    var page = ViewBag.Page;

    var rowsCount = 10;

    if (ViewBag.PagesCount != null)
    {
        pagesCount = ViewBag.PagesCount;
    }

    if (ViewBag.Page != null)
    {
        page = ViewBag.Page;
    }

    if (ViewBag.RowsCount != null)
    {
        rowsCount = ViewBag.RowsCount;
    }

    var options = new AjaxOptions()
    {
        UpdateTargetId = "customersdata",
        Url = Url.Action("CustomersData")
    };
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (!ViewData.ModelState.IsValid)
{
    <div class="form-group">
        <div class="col-md-10 error">
            @Html.ValidationMessage("", new { @class = "error-msg" })
        </div>
    </div>
}
<table class="table">
    <thead>
        <tr id="search">
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
                <input class="form-control text-box single-line findid-box search" data-val="true"  name="CustomerId" type="number" >
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
                <input class="form-control text-box single-line search" data-val="true" id="FirstName" type="text">
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
                <input class="form-control text-box single-line search" data-val="true" id="LastName" type="text">
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
                <input class="form-control text-box single-line search" data-val="true" id="Email" type="text">
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="customersdata">
        @Html.Action("CustomersData", new { rows = rowsCount, page = 1 })
    </tbody>
</table>

<ul class="pages">
    @for (int i = 1; i <= pagesCount; i++)
    {
        <li>
            @Ajax.ActionLink(i.ToString(), "CustomersData", new { page = i, rows = rowsCount }, new AjaxOptions
       {
           UpdateTargetId = "customersdata"
       })
        </li>
    }
</ul>
